 *{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    border: none;
    box-sizing: border-box;
    font-family: cursive;
    scroll-behavior: smooth;
} 
      /* -------root elements-------- */
              
 :root{
   --bgprimary-color:black ;
    --bgsecondary-color: #fff6d9;
    --text-color:#C19D60;
      /* font-sizes   */
    --h1font-size:3rem;
    --h2font-size:2.5rem;
    --pfont-size:1.3rem;
    --smallfont-size:1rem;
} 

/* -------------NAV-BAR--------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(10deg,var(--bgprimary-color),var(--text-color),var(--bgprimary-color));
    padding: 20px 50px;
    position: relative;
}

.logo {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
    font-family: Arial, sans-serif;
    list-style-type: none;

}

.logo:hover {
    transform: scale(1.1) rotate(-5deg);
}

.nav-links {
    display: flex;
    transition: all 0.3s ease-in-out;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color:var(--text-color);
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}


.nav-links a:hover {
    color: var(--bgsecondary-color);
    transform: scale(1.1);
}

.nav-links a::after {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--bgsecondary-color);
    transition: width 0.3s ease-in-out;
    bottom: -5px;
    left: 0;
}

.nav-links a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: all 0.3s ease-in-out;
}



/* Dropdown Menu */
.dropdown-menu {
 display: none;
 position: absolute;
 top: 100%;
 left: 0;
 background: var(--bgsecondary-color);
 color: var(--bgprimary-color);
 padding: 10px 0;
 list-style: none;
 border-radius: 5px;
 box-shadow: 0 4px 6px var(--text-color);
}
   
.dropdown-menu li {
   width: 200px;
}
   
.dropdown-menu a {
   display: block;
   padding: 10px;
}
   
.nav-linksw .dropdown:hover .dropdown-menu {
   display: block;
   animation: fadeIn 0.3s ease-in-out;
} 

.dropdown-menu a:hover {
   background-color: var(--text-color);
   color: var(--bgprimary-color);
   display: block;
}

.dropdown:hover .dropdown-menu {
   display: block;
}


/* Hamburger Menu */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--bgprimary-color);
    position: absolute;
    top: 13vh;
    left: 0;
    padding: 1rem;
}
.nav-list.dropdown-menu {
    /* position: static; */
    box-shadow: none;
}

/* Animation */
@keyframes fadeIn {
   from {
       opacity: 0;
       transform: translateY(-10px);
   }
   to {
       opacity: 1;
       transform: translateY(0);
   }
}

 


    /* ---------intro ---------- */
.card:not(:empty):hover,
.card:not(:empty):focus {
    z-index: 1;
    color: #fff;
    background: #000000;
    color: var(--text-color);
    opacity: 1;
    transform: scale(1.15) rotateZ(20deg);
    cursor: pointer;
    
    &:after {
        opacity: 1;
    }
    
    &:before {
        opacity: 0;
    }
}

.card {
    padding: 10px;
    background: var(--text-color);
    color: var(--bgprimary-color);
    border-radius: .7em;
    opacity: 0.6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
    transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: background, transform, color, opacity;
    
    &:not(:empty):before {
        box-shadow: -2px 2px 8px 2px hsla(0, 0%, 0%, 0.2);
    }
    
    &:empty {
        opacity: 0.3;
    }
    
    &:before, &:after {
        content: "";
        position: absolute;
        border-radius: .7em;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    }
    
    &:after {
        box-shadow: -20px 20px 12px 6px hsla(0, 0%, 0%, 0.2);
        opacity: 0;
    }
}
/* --------- Grid ---------- */
.grid {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

.item1 {
    grid-area: 1 / 1 / 3 / 3;
}
.item2 {
    grid-area: 3 / 3 / 4 / 4;
    &.card:hover,
    &.card:focus {
        background:var(--text-color);
        color: var(--bgprimary-colorr);
    }
}
.item3 {
    grid-area: 4 / 1 / 5 / 4;
}
.item4 {
    grid-area: 1 / 3 / 2 / 5;
}
.item5 {
    grid-area: 2 / 4 / 3 / 5;
}
.item6 {
    grid-area: 3 / 4 / 4 / 5;
}
.item7 {
    grid-area: 3 / 4 / 5 / 5;
}
.item8 {
    grid-area: 1 / 5 / 2 / 6;
    &.card:hover,
    &.card:focus {
        background: var(--text-color);
        color: var(--bgprimary-color);

    }
}
.item9 {
    grid-area: 2 / 5 / 3 / 6;
}
.item10 {
    grid-area: 3 / 5 / 4 / 6;
}
.item11 {
    grid-area: 4 / 5 / 5 / 6;
    &.card:hover,
    &.card:focus {
        background: var(--text-color);
        color: var(--bgprimary-color);

    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*--------- Layout -------- */
*,
*:before,
*:after {
    position: relative;
    box-sizing: border-box;
}

.one{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--bgsecondary-color);

} 
.one
h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1.05rem;
    line-height: 1.2;
    font-family: cursive;
}
.one
h1 {
    margin-top: 0;
    font-size: var(--h1font-size);
    padding-left: 2rem;
    box-sizing: border-box;
}
.one
h2 {
    font-size: 1em;
} 
.one
p {
    line-height: 1.3;
    padding-left: 2rem;
    box-sizing: border-box;
}

/*-------------- ABOUT-US------------ */
.home-img{
    height: 70vh;
    width: 100%;
    background-image: url(../media/roommm2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    
}       
.home-img-opecity{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inputs{
    height: auto;
    display: flex;
    justify-content: space-around;
}
.inputs input{
    height: 60px;
    width: 200px;

   
}
.input-opecity{
    height: 30vh;
    width: 94%;
    background-color: rgba(2, 2, 3, 0.605) ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
    
}
.btn{
    display: inline-block;
    padding: 16px 45px;
    background-color: var(--bgprimary-color);
    color: var(--text-color);
    font-size: var(--pfont-size);
    font-weight: 600;
    border: 2px solid var(--bgprimary-color);
    transition: all ease 0.50s;
}
.btn:hover{
    transform: translateX(5px);
    background:transparent ;
    border: 2px solid var(--bgprimary-color);

}


/* ------------about-us----------------- */
.aboutus{
    height: auto;
    background:var(--bgprimary-color);
    color: var(--bgsecondary-color);
    display: flex;
    align-items: center;
    padding: 5rem 2rem 5rem 4rem ;

}
.img-about-main{
    height: auto;
    flex-basis: 50%;
}
.img-about1{
    height: 400px;
    width: 400px;
    background-image: url(../media/roommm.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-about2{
    height: 300px;
    width: 300px;
    background-image: url(../media/roommm2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:35%;
    left: 38%;
}
.text-about{
    flex-basis: 50%;
}
.text-about h6,p{
    color: var(--text-color);
}
.text-about h1{
    font-size: var(--h1font-size);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





/* swiper */
.swiper{
    height: 70vh;
    width: 100%;
    background-image: url(../media/1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
swiper-container {
  width: 50%;
  height: 50vh;
  background-color: #00000070;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;

}

swiper-slide p{
    font-size: var(--smallfont-size);
    color: var(--text-color);

}
swiper-slide h1 {
    color: var(--bgsecondary-color);
    font-size: var(--h1font-size);
}
swiper-slide h6{
    color: var(--bgsecondary-color);
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url(../media/1.webp);
  background-position: center;
  background-repeat: no-repeat;
}


/* ---------Contact--------- */
.Contact-img{
    height: 100vh;
    width: 100%;
    background-image: url(../media/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.Contact-img-opecity{
    height: 100vh;
    width: 100%;
    background-color: #c19d6081;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}
.left-contact{
    height: auto;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.705);
    color: var(--text-color);
    padding: 2rem;
    box-sizing: border-box;
    
}
.left-contact input{
   
    height: 48px;
    width: 90%;
    background: var(--text-color);
    color: var(--bgprimary-color);
    margin-top: 1rem;
    padding:3px;
    box-sizing: border-box;
    display: flex;
    align-self: center;
    justify-self: center;

    
}
.left-contact textarea{
    height: 17vh;
    width: 90%;
    background: var(--text-color);
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 1rem;
    padding: 3px;


}
.right-contact{
    height: auto;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 2.3rem;
    box-sizing: border-box;

}
.right-contact iframe{
    width: 500px;
     height: 400px;
    padding-left: 2rem;
    box-sizing: border-box;
}
.btnn{
    display: inline-block;
    padding: 16px 45px;
    background-color: var(--bgprimary-color);
    color: var(--text-color);
    font-size: var(--pfont-size);
    font-weight: 600;
    margin-left: 30%;
    margin-top: 1rem;
    border: 2px solid var(--text-color)xs;
    transition: all ease 0.50s;
}
.btnn:hover{
    transform: translateX(5px);
    background:transparent ;
    border: 2px solid var(--text-color);

}


/*-------------- footer------------ */
.footer{
    height: auto;
    background-color: var(--bgprimary-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding: 2rem 3rem 0 5rem;
    box-sizing: border-box;
    background-attachment: fixed;


}

.footer h3:hover{
    text-decoration-line: underline ;
}
.footer a{
    color: var(--text-color);
}
.icons{
    height: auto;
    padding: 2rem;
    background-color: var(--bgprimary-color);
    display: flex;
    justify-content: center;
    border-top:3px solid var(--text-color);
}

.icons i{
    background-color: var(--bgprimary-color);
    color: var(--text-color);
    font-size: 2rem;
    transition: all ease-in-out 0.80s;
    border-radius: 50%;
}

.icons i:hover{
    transform: rotate(360deg);
    color:var(--bgprimary-color);
    background-color: var(--text-color);
    
}
.news-input input{
    height:40px ;
    width: 70%;
    margin-top: 1rem;
}
.btnnnn{
    display: inline-block;
    padding: 16px 45px;
    color: var(--text-color);
    font-size: var(--pfont-size);
    font-weight: 600;
    margin-left: 30%;
    margin-top: 1rem;
    border: 2px solid var(--text-color);
    transition: all ease 0.50s;
}
.btnnnn:hover{
    transform: translateX(5px);
    background:transparent ;
    border: 2px solid var(--text-color);

}





@media(max-width:1024px){

    /* HOME-SECTION */
    .home-img{
        height: auto;
        width: 100%;
        background-image: url(../media/img3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
       
        
    }       
    .home-img-opecity{
        height: 60vh;
        width: 100%;
    }
    .home-img-opecity  input{
        height: 50px;
        width: 80%;
    }
    .inputs{
        /* display: block; */
        justify-content: center;
        align-items: center;
    }
    .input-opecity{
        height: 30vh;
        width: 94%;
        background-color: rgba(2, 2, 3, 0.605) ;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px     4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      
        
    }
    .btn{
        display: inline-block;
        padding: 12px 30px;
        background-color: var(--bgprimary-color);
        color: var(--text-color);
        font-size: var(--smallfont-size);
        font-weight: 400;
        border: 2px solid var(--bgprimary-color);
        transition: all ease 0.50s;
    }
    .btn:hover{
        transform: translateX(5px);
        background:transparent ;
        border: 2px solid var(--bgprimary-color);
    
    }
    .left-contact{
        display: block;
    }


        /* ---------Contact--------- */
    .Contact-img{
        height: 100vh;
        width: 100%;
        background-image: url(../media/contact.jpg);
    
    }
    .Contact-img-opecity{
        height: 100vh;
        width: 100%;
        background-color: #c19d6081;
        display: flex;
    
    }
    .left-contact{
        height: auto;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.705);
        color: var(--text-color);
        padding: 2rem;
        box-sizing: border-box;
        
    }
    .left-contact input{
        height: 48px;
        width: 90%;
        background: var(--text-color);
        color: var(--bgprimary-color);
        padding:3px;
        box-sizing: border-box;
        display: flex;
    }
    .left-contact textarea{
        height: 17vh;
        width: 90%;
        background: var(--text-color);
        display: flex;
        padding: 3px;
        box-sizing: border-box;
    
    
    }
    .right-contact{
        height: auto;
        width: 40%;
    
    
    }
    .right-contact iframe{
        height: 380px;
        width: 300px;
    
    
    }
    .btnn{
        display: inline-block;
        padding: 16px 45px;
        background-color: var(--bgprimary-color);
        color: var(--text-color);
        font-size: var(--smallfont-size);
        font-weight: 400;
        margin-left: 20%;
        margin-top: 1rem;
        border: 2px solid var(--text-color)xs;
        transition: all ease 0.50s;
    }
    .btnn:hover{
        transform: translateX(5px);
        background:transparent ;
        border: 2px solid var(--text-color);
    
    }
        /*--------------footer------------ */
    .footer{
        height: auto;
        background-color: var(--bgprimary-color);
        color: var(--text-color);
        display: grid;
        grid-template-columns: 1fr 1fr ;
        padding: 2rem 3rem 0 5rem;
        row-gap: 2rem;
        /* padding-left: 5rem; */
        box-sizing: border-box;
        background-attachment: fixed;
     }
     
     .footer h3:hover{
        text-decoration-line: underline ;
     }
     .footer a{
        color: var(--text-color);
     }
     .icons{
        height: auto;
        padding: 2rem;
        background-color: var(--bgprimary-color);
        display: flex;
        justify-content: center;
        border-top:3px solid var(--text-color);
     }
     
     .icons i{
        background-color: var(--bgprimary-color);
        color: var(--text-color);
        font-size: 2rem;
        transition: all ease-in-out 0.80s;
        border-radius: 50%;
     }
     
     .icons i:hover{
        transform: rotate(360deg);
        color:var(--bgprimary-color);
        background-color: var(--text-color);
        
     }
     .news-input input{
        height:40px ;
        width: 70%;
        margin-top: 1rem;
     }
     .btnnnn{
        display: inline-block;
        padding: 16px 45px;
        color: var(--text-color);
        font-size: var(--pfont-size);
        font-weight: 600;
        margin-left: 30%;
        margin-top: 1rem;
        border: 2px solid var(--text-color);
        transition: all ease 0.50s;
     }
     .btnnnn:hover{
        transform: translateX(5px);
        background:transparent ;
        border: 2px solid var(--text-color);
     
    }
}

@media(max-width:768px){

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-links li {
        margin: 15px 0;
    }

    .menu-toggle .bar:nth-child(1).active {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle .bar:nth-child(2).active {
        opacity: 0;
    }

    .menu-toggle .bar:nth-child(3).active {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    /* HOME-SECTION */
    .home-img{
        height: 60vh;
        width: 100%;
        background-image: url(../media/img3.jpg);
        background-attachment: fixed;
       
        
    }       
    .home-img-opecity{
        height: 60vh;
        width: 100%;
        display: flex;
    }
    .inputs{
        display: block;
    }
    .home-img-opecity  input{
        height: 30px;
        width: 120px;
       
    }
    .input-opecity{
        height: 30vh;
        width: 90%;
        background-color: rgba(2, 2, 3, 0.605) ;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px     4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      
        
    }
    .btn{
        display: inline-block;
        padding: 9px 25px;
        background-color: var(--bgprimary-color);
        color: var(--text-color);
        font-size: var(--smallfont-size);
    
        border: 2px solid var(--bgprimary-color);
        transition: all ease 0.50s;
    }
    .btn:hover{
        transform: translateX(5px);
        background:transparent ;
        border: 2px solid var(--bgprimary-color);
    
    }
       /*-------------- ABOUT-US------------ */
       .aboutus{
        height: auto;
        background:var(--bgprimary-color);
        color: var(--bgsecondary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5rem 2rem 5rem 4rem ;
    
    }
    .img-about-main{
        height: auto;
        flex-basis: 60%;
    }
    .img-about1{
        height: 400px;
        width: 560px;
        background-image: url(../media/roommm.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-about2{
        height: 300px;
        width: 360px;
        background-image: url(../media/roommm2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top:35%;
        left: 38%;
    }
    .text-about{
        flex-basis: 73%;
        margin-top: 5rem;
        text-align: justify;
    
    }
    .text-about h6,p{
        color: var(--text-color);
    
    }
    .text-about h1{
        font-size: var(--h1font-size);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 1rem;
    }

          /* ---------Contact--------- */
    .Contact-img{
        height: 100vh;
        width: 100%;
        background-image: url(../media/contact.jpg);
    
    }
    .Contact-img-opecity{
        height: 100vh;
        width: 100%;
        background-color: #c19d6081;
        display: flex;
    
    }
    .left-contact{
        height: auto;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.705);
        color: var(--text-color);
        padding: 2rem;
        box-sizing: border-box;
        
    }
    .left-contact input{
        height: 30px;
        width: 70%;
        background: var(--text-color);
        color: var(--bgprimary-color);
        padding:3px;
        box-sizing: border-box;
        display: flex;
    }
    .left-contact textarea{
        height: 17vh;
        width: 70%;
        background: var(--text-color);
        display: flex;
        padding: 3px;
        box-sizing: border-box;
    
    
    }
    .right-contact{
        height: auto;
        width: 40%;
    
    
    }
    .right-contact iframe{
        height: 300px;
        width: 200px;
    
    
    }
    .btnn{
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--bgprimary-color);
        color: var(--text-color);
        font-size: var(--smallfont-size);
        font-weight: 400;
        margin-left: 20%;
        margin-top: 1rem;
        border: 2px solid var(--text-color)xs;
        transition: all ease 0.50s;
    }
    .btnn:hover{
        transform: translateX(5px);
        background:transparent ;
        border: 2px solid var(--text-color);
    
    }
}


@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, minmax(auto, 300px));
        overflow-y: scroll;
    }

    .item1 {
        grid-area: 1 / 1 / 2 / 3;
    }
    .card {
        grid-area: auto;
        text-align: left;
        
        &:empty {
            display: none;
        }
    }
}
@media(max-width:426px){

    :root{
        --bgprimary-color:black ;
        --bgsecondary-color: #fff6d9;
        --text-color:#C19D60;
         /* font-sizes  */
        --h1font-size:2rem;
        --h2font-size:1.5rem;
        --pfont-size:1rem;
        --smallfont-size:.6rem;
    }
    /*-------------- ABOUT-US------------ */
    .aboutus{
        height: auto;
        background:var(--bgprimary-color);
        color: var(--bgsecondary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5rem 2rem 5rem 4rem ;
    
    }
    .img-about-main{
        height: auto;
        flex-basis: 60%;
    }
    .img-about1{
        height: 350px;
        width: 260px;
        background-image: url(../media/roommm.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-about2{
        height: 250px;
        width: 160px;
        background-image: url(../media/roommm2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top:35%;
        left: 38%;
    }
    .text-about{
        flex-basis: 73%;
        margin-top: 5rem;
        text-align: justify;
    
    }
    .text-about h6,p{
        color: var(--text-color);
        font-size: var(--smallfont-size);
    
    }
    .text-about h1{
        font-size: var(--h2font-size);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 1rem;
    }




    /* ---------Contact--------- */
    .Contact-img{
        height: auto;
        width: 100%;
        background-image: url(../media/contact.jpg);
    
    }
    .Contact-img-opecity{
        height: auto;
        width: 100%;
        background-color: #c19d6081;
        display: flex;
        flex-wrap: wrap;
    
    }
    .left-contact{
        height: auto;
        flex-basis: 70%;
        background-color: rgba(0, 0, 0, 0.705);
        color: var(--text-color);
        padding: 2rem;
        box-sizing: border-box;
        margin-top: 2rem;
        
    }
    .left-contact input{
        height: 30px;
        width: 70%;
        background: var(--text-color);
        color: var(--bgprimary-color);
        padding:3px;
        box-sizing: border-box;
        display: flex;
    }
    .left-contact textarea{
        height: 17vh;
        width: 70%;
        background: var(--text-color);
        display: flex;
        padding: 3px;
        box-sizing: border-box;
    
    
    }
    .right-contact{
        height: auto;
        flex-basis: 70%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    
    
    }
    .right-contact iframe{
        height: 300px;
        width: 200px;
        padding-right: 5rem;
        box-sizing: border-box;
    
    }
    .btnn{
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--bgprimary-color);
        color: var(--text-color);
        font-size: var(--smallfont-size);
        font-weight: 400;
        margin-left: 20%;
        margin-top: 1rem;
        border: 2px solid var(--text-color)xs;
        transition: all ease 0.50s;
    }
    .btnn:hover{
        transform: translateX(5px);
        background:transparent ;
        border: 2px solid var(--text-color);
    
    }
    .footer{
        height: auto;
        background-color: var(--bgprimary-color);
        color: var(--text-color);
        display: grid;
        grid-template-columns: 1fr  ;
        padding: 2rem 3rem 0 5rem;
        row-gap: 2rem;
        box-sizing: border-box;
        background-attachment: fixed;
     
     
     }
     .btnnnn{
        display: inline-block;
        padding: 12px 30px;
        color: var(--text-color);
        font-size: var(--pfont-size);
        font-weight: 600;
        margin-left: 30%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 2px solid var(--text-color);
        transition: all ease 0.50s;
     }
     

}

@media(max-width:375px){

    /* HOME-SECTION */
    .home-img{
        height: 60vh;
        width: 100%;
        background-image: url(../media/img3.jpg);
        background-attachment: fixed;
       
        
    }       
    .home-img-opecity{
        height: 60vh;
        width: 100%;
    }
    .inputs{
        height: auto;
        display: block;
    
    }
    .home-img-opecity  input{
        height: 40px;
        width: 180px;
        padding-top: 2rem ;
        box-sizing: border-box;
       
    }
    .input-opecity{
        height: 50vh;
        width: 90%;
        background-color: rgba(2, 2, 3, 0.605) ;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px     4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      
        
    }
    .btn{
        display: inline-block;
        padding: 9px 25px;
        background-color: var(--bgprimary-color);
        color: var(--text-color);
        font-size: var(--smallfont-size);
    
        border: 2px solid var(--bgprimary-color);
        transition: all ease 0.50s;
    }
    .btn:hover{
        transform: translateX(5px);
        background:transparent ;
        border: 2px solid var(--bgprimary-color);
    
    }
    
    swiper-container {
        width: 50%;
        height: 60vh;
        background-color: #00000070;
        padding: 2rem;
        box-sizing: border-box;
        text-align: center;
      
      }
      
      swiper-slide p{
          font-size:.6rem;
          color: var(--text-color);
          margin-top: .4rem;
          text-align: justify;
      
      }
      swiper-slide h1 {
          color: var(--bgsecondary-color);
          font-size: var(--smallfont-size);
          text-align: justify;
    
      }
      swiper-slide h6{
          color: var(--bgsecondary-color);
          text-align: justify;
    
      }
}





